@media screen and (max-width: 450px) {
  .app-bar-section {
    padding: 0.25em 1em;
  }

  #header__title {
    padding: 0;
    font-size: 1.5em;
  }

  .restaurant__info>h3 {
    font-size: 1.5em;
    width: 100%;
    border-bottom: 3px solid rgb(var(--red-color));
    margin-bottom: 10px;
  }

  .restaurant__info {
    padding: 0.5em 1.5em;
    row-gap: 15px;
  }

  .info__section {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1em;
  }

  .menus-container {
    flex-direction: column;
    gap: 1em;
  }

  .restaurant__reviews {
    font-size: 1em;
  }

  .restaurant__reviews>h3 {
    font-size: 1.5em;
  }

  .no-favorite {
    font-size: 1.5em;
  }

  footer {
    font-size: 0.8em;
  }

  .hero__img {
    min-height: 300px;
  }

  .restaurant__poster {
    min-height: 300px;
  }

  .restaurant__title {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  .reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
  }
}

@media screen and (min-width: 866px) {
  #app-bar>#header__menu {
    display: none;
  }
}

@media screen and (max-width: 866px) {
  .list-container {
    z-index: 10;
    width: 100%;
    position: absolute;

    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);

    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .list-container>#nav__list {
    display: list-item;
    background-color: rgb(var(--dark-color));
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #rating {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }

  .reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
    column-gap: 1.5em;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .hero__img {
    padding: 0;
    width: 100%;
  }
}