:root {
  --dark-color: 34, 40, 49;
  --grey-color: 221, 221, 221;
  --navy-color: 48, 71, 94;
  --red-color: 240, 84, 84;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--dark-color));
  color: rgb(var(--grey-color));
}

header {
  width: 100%;
  border-bottom: 2px solid rgb(var(--grey-color));
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
  text-decoration: none;
}

a.skip-main:focus,
a.skip-main:active {
  color: rgb(var(--grey-color));
  background-color: rgb(var(--navy-color));
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgb(var(--grey-color));
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

.ondisplay {
  display: list-item;
}

#app-bar {
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(var(--dark-color), 1);
  border-bottom: 1px solid rgba(var(--grey-color), 0.2);
}

.app-bar-section {
  padding: 0.8em 2em;
  display: flex;
  gap: 0.1em;
  align-items: center;
}

#header__inner {
  flex-basis: 55%;
}

#header__title {
  white-space: nowrap;
}

#nav__list {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-basis: 45%;
}

li>a {
  color: rgb(var(--red-color));
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 0.8em 2em;
  white-space: nowrap;
  transition: all 100ms ease-in-out;
}

li>a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(var(--red-color));
  transform-origin: bottom left;
  transition: transform 180ms ease-out;
}

li>a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li>a:active {
  transform: scale(0.9);
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.content>h2 {
  text-align: center;
  padding: 2em;
}

.hero {
  background-color: rgb(var(--navy-color));
  margin-top: 6.15em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(var(--grey-color));
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(var(--grey-color));
}

.hero__img {
  width: 1000px;
  padding: 1em;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.posts {
  display: grid;
  grid-row-gap: 2em;
  text-align: left;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.post-item {
  border: 2px solid rgb(var(--grey-color), 0.4);
  box-shadow: 0 15px 10px -10px rgb(var(--grey-color), 0.5);
  width: 100%;
  border-radius: 10px;
  background-color: rgba(var(--navy-color), 1);
  transition: all 150ms ease-in-out;
}

.post-item > a {
  text-decoration: none;
  color: rgb(var(--grey-color));
}

.post-item:hover,
.post-item:focus {
  box-shadow: 0 10px 10px 1px rgb(var(--grey-color));
  transform: translateY(-10px);
}

.post-item:active {
  box-shadow: 0 15px 10px -10px rgb(var(--grey-color), 0.5);
  transform: translateY(0);
}

.post-item__content {
  padding: 16px;
}

.post-item__thumbnail__container {
  position: relative;

}

.post-item__thumbnail {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}

.post-city {
  position: absolute;
  background-color: rgba(var(--navy-color), 0.9);
  top: 1.5em;
  padding: 1em 1.5em;
  border-radius: 0 10px 10px 0;
}

.post-item__rating {
  font-size: large;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1em;
}

.post-item__title {
  color: rgb(var(--red-color));
  font-size: 1.5em;
  margin-bottom: 1em;
}

footer {
  background-color: rgb(var(--grey-color));
  color: rgb(var(--navy-color));
  margin-top: 3em;
  padding: 1em;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#app-bar>#header__menu {
  font-size: 1.5em;
  margin: 0.5em auto;
  display: block;
  width: 44px;
  cursor: pointer;
}

#restaurant {
  top: 500px;
  display: flex;
  flex-direction: column;
}

.restaurant__hero {
  max-height: 100vh;
}

.restaurant__poster {
  z-index: 1;
  position: relative;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
  background-color: rgb(var(--dark-color));
}

/* nama resto harus tengah */

.restaurant__title {
  z-index: 2;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: rgba(var(--grey-color), 0.5);
  color: rgb(var(--dark-color));
  backdrop-filter: blur(10px);
  text-align: center;
  font-size: 5vw;
  padding: 6.25vw 9.375vw;
  border: 1px solid rgba(var(--grey-color), 0.2);
  white-space: nowrap;
}

/* .restaurant__info {
  z-index: 1;
  position: absolute;

} */