:root {
  --dark-color: 34, 40, 49;
  --grey-color: 221, 221, 221;
  --navy-color: 48, 71, 94;
  --red-color: 240, 84, 84;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--dark-color));
  color: rgb(var(--grey-color));
}

header {
  width: 100%;
  border-bottom: 2px solid rgb(var(--grey-color));
}

.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  z-index: -999;
  text-decoration: none;
}

.skip-main:focus,
.skip-main:active {
  color: rgb(var(--grey-color));
  background-color: rgb(var(--navy-color));
  left: 0;
  top: 0;
  width: 12em;
  height: auto;
  padding: 10px;
  border: 2px solid rgb(var(--grey-color));
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

.ondisplay {
  display: list-item;
}

#app-bar {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(var(--dark-color), 1);
  border-bottom: 1px solid rgba(var(--grey-color), 0.2);
}

.app-bar-section {
  padding: 0.8em 1em;
  display: flex;
  align-items: center;
}

#header__inner {
  flex-basis: 55%;
}

#header__title {
  white-space: nowrap;
  padding: 0 1em;
}

#nav__list {
  display: flex;
  flex-direction: row;
  flex-basis: 45%;
}

li>a {
  color: rgb(var(--red-color));
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 0.8em 2em;
  white-space: nowrap;
  transition: all 100ms ease-in-out;
}

li>a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(var(--red-color));
  transform-origin: bottom left;
  transition: transform 180ms ease-out;
}

li>a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li>a:active {
  transform: scale(0.9);
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
}

.content>h2 {
  text-align: center;
  padding: 2em;
}

.hero {
  background-color: rgb(var(--grey-color));
  margin: 2em auto;
  box-shadow: 0 50px 0 0 rgb(var(--grey-color));
}

.hero__img {
  width: 1000px;
  padding: 1em;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.posts {
  display: grid;
  grid-row-gap: 2em;
  text-align: left;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.post-item {
  box-shadow: 0 15px 10px -10px rgb(var(--grey-color), 0.5);
  width: 100%;
  border-radius: 10px;
  background-color: rgba(var(--navy-color), 1);
  transition: all 150ms ease-in-out;
}

.post-item>a {
  text-decoration: none;
  color: rgb(var(--grey-color));
}

.post-item:hover,
.post-item:focus {
  box-shadow: 0 10px 10px 1px rgb(var(--grey-color));
  transform: translateY(-10px);
}

.post-item:active {
  box-shadow: 0 15px 10px -10px rgb(var(--grey-color), 0.5);
  transform: translateY(0);
}

.post-item__content {
  padding: 16px;
}

.post-item__thumbnail__container {
  position: relative;

}

.post-item__thumbnail {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}

.post-city {
  position: absolute;
  background-color: rgba(var(--navy-color), 0.9);
  top: 1.5em;
  padding: 1em 1.5em;
  border-radius: 0 10px 10px 0;
}

.post-item__rating {
  font-size: large;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1em;
}

.post-item__title {
  color: rgb(var(--red-color));
  font-size: 1.5em;
  margin-bottom: 1em;
}

footer {
  background-color: rgb(var(--grey-color));
  color: rgb(var(--navy-color));
  padding: 1em;
  margin-top: auto;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#app-bar>#header__menu {
  font-size: 1.5em;
  margin: 0.5em auto;
  display: block;
  width: 44px;
  cursor: pointer;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
  background-image: repeating-linear-gradient(45deg, rgb(var(--navy-color)) 0, rgb(var(--navy-color)) 2px, transparent 0, transparent 50%);
  background-size: 100px 100px;
  background-color: rgb(var(--dark-color));
}

.restaurant__hero {
  max-height: 100vh;
  z-index: 1;
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
}

.restaurant__poster {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  object-position: center;
}

.restaurant__title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(var(--grey-color), 0.5);
  color: rgb(var(--dark-color));
  backdrop-filter: blur(5px);
  text-align: center;
  font-size: 5vw;
  padding: 6.25vw 9.375vw;
  border: 1px solid rgba(var(--grey-color), 0.2);
  white-space: nowrap;
}

.restaurant__info {
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 1.25fr 1.25fr;
  padding: 1em 3em;
  row-gap: 30px;
  column-gap: 20px;
}

.info__section {
  background-color: rgba(var(--grey-color), 0.1);
  border: 1px solid rgba(var(--grey-color), 0.4);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  font-size: 1.5em;
}

.restaurant__info>h3 {
  position: relative;
  text-align: center;
  font-size: 3em;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 7em;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 5px solid rgb(var(--red-color));
}

#rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 2em;
}

#address>h4 {
  margin: 5px 10px;
  padding: 5px 10px;
  border-bottom: 2px solid rgba(var(--grey-color), 0.2);
  width: 93%;
}

#address>p {
  padding: 0 20px 10px 20px;
}

#categories>h4 {
  margin: 5px 10px;
  padding: 5px 10px;
  border-bottom: 2px solid rgba(var(--grey-color), 0.2);
  width: 93%;
}

.category {
  display: inline-block;
  padding: 0 20px 10px 20px;
}

#description {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 20px;
  backdrop-filter: blur(10px);
}

#description>h4 {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1em;
}

#menus {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 20px;
  backdrop-filter: blur(10px);
}

#menus>h4 {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1em;
}

.menus-container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.menus-container li {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(var(--grey-color), 0.3);
}

.menus-container h5 {
  color: rgba(var(--red-color), 1);
  text-align: center;
  font-size: 1em;
  padding-bottom: 20px;
}

.menus-container div {
  border: 1px solid rgba(var(--grey-color), 0.5);
  flex-basis: 50%;
  border-radius: 10px;
  background-color: rgba(var(--navy-color), 1);
  padding: 30px;
}

.restaurant__reviews {
  border-top: 1px solid rgba(var(--grey-color), 0.3);
  border-bottom: 1px solid rgba(var(--grey-color), 0.3);
  z-index: 1;
  position: relative;
  top: 3em;
  padding: 20px;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(var(--grey-color), 0.01);
  font-size: 1.5em;
}

.restaurant__reviews>h3 {
  font-size: 2em;
}

.reviews-container {
  display: grid;
  row-gap: 1.5em;
  margin-top: 1em;
}

.reviews-container li {
  border: 1px solid rgba(var(--grey-color), 0.3);
  padding: 20px;
  background-image: repeating-radial-gradient(circle at 100px 100px, transparent 0, #30475e 220px), repeating-linear-gradient(#222831, #222831);
  background-color: #30475e;
  border-radius: 10px;
}

.review-name {
  font-size: large;
  padding: 10px 0;
}

.review-date {
  color: rgb(var(--grey-color), 0.6);
  font-size: small;
}

.like {
  z-index: 100;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--navy-color));
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: rgb(var(--red-color));
  cursor: pointer;
}

.restaurants-favorite {
  display: grid;
  place-items: center;
  min-height: 40vh;
  transform: translateY(20px);
}

.no-favorite {
  text-align: center;
  font-size: 2em;
}